.row_desserts {
                          display: flex;
                          position: relative;
}

button {
                          padding: 5px;
                          border-radius: 18px;
                          width: 160px;
                          position: absolute;
                          margin-left: 3rem;
                          bottom: 73px;
                          border: 1px solid var(--Red);
                          background-color: white;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          cursor: pointer;

}
button:hover{
                          background-color: var(--Rose50);

                          img{
                                                    color: white;
                          }
}

button span {
                          margin-left: 8px;
}

.description_text {
                          margin-top: 23px;
}